@charset "utf-8";
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,hr,button,article,aside,details,footer,header,menu,nav,section {
    margin: 0;
    padding: 0
}
body,button,input,select,textarea {
    font: .6rem/1rem tahoma,\5FAE\8F6F\96C5\9ED1
}
input,select,textarea {
    font-size: 100%
}
address,cite,dfn,em,var,i {
    font-style: normal;
    font-weight: 400
}

input,textarea,select,button {
    outline: 0;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.none {
    display: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: inherit
}

fieldset,img {
    border: 0
}

iframe {
    display: block
}

ol,ul,li {
    list-style: none
}

del {
    text-decoration: line-through
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

ins,a {
    text-decoration: none
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 400
}

body {
    color: #262626
}

a {
    color: #262626
}

a:active {
    background-color: #eee!important;
    color: #666
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    line-height: 0
}

.clearfix {
    zoom: 1
}

html,body {
    overflow: auto
}

@media only screen and (min-device-width:320px) {
    html {
        font-size: 17px!important
    }
}

@media only screen and (min-device-width:375px) {
    html {
        font-size: 20px!important
    }
}

@media only screen and (min-device-width:414px) {
    html {
        font-size: 22px!important
    }
}

body {
    background-color: #f7f7f7
}

.bg-fff {
    background-color: #fff
}

.tl {
    text-align: left
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.fl {
    float: left
}

.fr {
    float: right
}

.f10 {
    font-size: .5rem
}

.f12 {
    font-size: .6rem
}

.f13 {
    font-size: .65rem
}

.f14 {
    font-size: .7rem
}

.f15 {
    font-size: .75rem
}

.f16 {
    font-size: .8rem
}

.f17 {
    font-size: .85rem
}

.f18 {
    font-size: .9rem
}

.f20 {
    font-size: 1rem
}

.f22 {
    font-size: 1.1rem
}

.f24 {
    font-size: 1.2rem
}

.fw6 {
    font-weight: 600
}

.mt5 {
    margin-top: .25rem
}

.mt10 {
    margin-top: .5rem
}

.mt15 {
    margin-top: .75rem
}

.mt20 {
    margin-top: 1rem
}

.mt25 {
    margin-top: 1.25rem
}

.mt30 {
    margin-top: 1.5rem
}

.mb5 {
    margin-bottom: .25rem
}

.mb10 {
    margin-bottom: .5rem
}

.mr5 {
    margin-right: .25rem
}

.mr10 {
    margin-right: .5rem
}

.ml5 {
    margin-left: .25rem
}

.mlr20 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mlr15 {
    margin-left: .75rem;
    margin-right: .75rem
}
.ptb10 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ptb20 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.ptb25 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.ptb30 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.plr10 {
    padding-left: .5rem;
    padding-right: .5rem
}

.plr15 {
    padding-left: .75rem;
    padding-right: .75rem
}

.plr30 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.p15 {
    padding: .75rem
}

.p20 {
    padding: 1rem
}

.pt20 {
    padding-top: 1rem
}

.pt30 {
    padding-top: 1.5rem
}

.pb5 {
    padding-bottom: .25rem
}

.pb20 {
    padding-bottom: 1rem
}

.pb0 {
    padding-bottom: 0!important
}

.p0 {
    padding: 0!important
}

.lh24 {
    line-height: 1.2rem
}

.lh28 {
    line-height: 1.4rem
}

.lh30 {
    line-height: 1.5rem
}

.s-oe {
    color: #ff552e
}

.s-cbbb {
    color: #bbb
}



.s-gn {
    color: #2a8779
}

.s-c999 {
    color: #999
}

.s-c666 {
    color: #666
}

.s-c333 {
    color: #333
}

.s-c8c8 {
    color: #8c8c8c
}

.s-c595 {
    color: #595959
}

.s-cb3b {
    color: #b3b3b3
}

.s-cacb {
    color: #cacbcc
}

.ovh {
    overflow: hidden;
    height: 100%
}

.bg-fff {
    background-color: #fff
}

.borb1 {
    border-bottom: .05rem solid #e8e8e8
}

.borb0 {
    border-bottom: 0!important
}

@font-face {
    font-family:DINCond-Bold;src:url(../fonts/dincond-bold-webfont_5c5d220.eot?#iefix) format("embedded-opentype"),url(../fonts/dincond-bold-webfont_7859bbd.woff) format("woff"),url(../fonts/dincond-bold-webfont_74b75ed.ttf) format("truetype"),url(../fonts/dincond-bold-webfont_94b4281.svg) format("svg");font-weight:400;font-style:normal
}

.f-din {
    font-family: DINCond-Bold
}

.header {
    position: relative;
    height: 2.5rem;
    background-color: #fff;
    border-bottom: .05rem solid #e8e8e8;
    overflow: hidden;
    padding: 0 3.4rem
}

.pl110 {
    padding-left: 5.5rem
}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    padding: .5rem;
    width: 4.2rem;
    height: 1.5rem;
    overflow: hidden
}

.header .logo img {
    width: 100%;
    height: 100%
}

.header .right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .75rem;
    float: left;
    line-height: 2.5rem
}

.header .right .icon-xiangmu {
    font-size: .9rem
}

.header .ptb9 {
    padding-top: .45rem;
    padding-bottom: .45rem
}

.header .serch-link {
    display: block;
    padding: 0 .5rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background-color: #ededed;
    border-radius: .8rem;
    color: #b3b3b3
}

.header .serch-link .icon-sousuo {
    margin-right: .25rem;
    font-size: .6rem
}

.header .left {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    padding: .75rem;
    font-size: .8rem;
    height: 1rem;
    line-height: 1rem;
    margin-right: .5rem
}

.header .icon-fanhui {
    font-size: 1.1rem;
    color: #595959
}

.header .tit {
    text-align: center;
    font-size: .9rem;
    line-height: 2.5rem;
    height: 2.5rem;
    overflow: hidden
}

.header .tit2 {
    text-align: center;
    font-size: .75rem;
    line-height: 2.5rem;
    height: 2.5rem;
    overflow: hidden
}

.header .back {
    font-size: .75rem
}




.ban-box,.ban-box .ovh {
    position: relative;
    height: 10rem;
    overflow: hidden
}

.ban-list {
    position: relative;
    height: 10rem;
    left: 0
}

.ban-list li,.ban-list li a {
    position: relative;
    height: 10rem;
    overflow: hidden;
    float: left
}

.ban-list li img {
    display: block;
    width: 100%;
    height: 10rem
}
.ban-list li .bg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding-top: 1.2rem;
    height: 2.3rem;
    z-index: 3;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0)),color-stop(100%,rgba(0,0,0,.5)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%)
}

.ban-list li .bg p {
    padding: 0 .75rem;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    font-size: .8rem;
    color: #fff
}
#ar_content{background: #fff;}
.detail-tit {
    padding: 1.25rem .75rem;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
    transition: all .15s linear;
}

.detail-tit h1 {
    line-height: 1.5rem; font-size: 1rem;
}

.detail-tit h2,.detail-tit .titstyle {
    font-size: .5rem;
    color: #bbb;
    margin-top: .5rem;
}

.detail-tit h2 span {
    margin: 0 .25rem
}

.detail-text {
    padding: 0 .75rem;
    font-size: .7rem;
    line-height: 1.2rem
}
.detail-zs-text {
    font-size: .8rem;
    line-height: 1.3rem;
}
.detail-text p {
    margin-bottom: .75rem;
    word-wrap: break-word
}

.detail-text img {
    display: block;
    width: 100%;
    margin-bottom: .75rem
}


.fenlei-list {
    padding: .75rem 0;
    background-color: #fff;
    overflow: hidden
}

.fenlei-list a {
    float: left;
    padding: .5rem 0;
    width: 25%;
    text-align: center
}

.fenlei-list a img {
    display: block;
    margin: auto;
    height: 1.65rem
}

.fenlei-list a p {
    margin-top: .35rem;
    font-size: .7rem;
    color: #595959
}





.cont-box {
    font-size: 14px;
    line-height: 24px;
    height: 120px;
    color: #595959;
    overflow: hidden
}

.cont-nr {
    height: auto
}

.cont-nr img {
    max-width: 100%
}

.cont-btn {
    position: relative;
    padding-top: .75rem;
    text-align: center;
    font-size: .65rem;
    cursor: pointer;
    color: #595959
}

.cont-btn .iconfont {
    color: #8c8c8c;
    font-size: .65rem
}

.cont-btn:before {
    position: absolute;
    right: 0;
    bottom: 1rem;
    left: 0;
    content: '';
    height: 4rem;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255)),color-stop(100%,rgba(255,255,255,.8)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 100%)
}

.footer {
    padding: 1.5rem .75rem 3.5rem;
    background-color: #fff;
    text-align: center
}

.footer .logo img {
    width: 5.75rem
}

.foot-ul {
    overflow: hidden
}

.foot-ul li {
    float: left;
    width: 25%;
    text-align: center
}

.foot-ul li a {
    font-size: .7rem;
    color: #595959
}




.bg-black {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.5)
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #8c8c8c
}

input:-moz-placeholder,textarea:-moz-placeholder {
    color: #8c8c8c
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #8c8c8c
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #8c8c8c
}

.mulu-list {
    display: none;
    position: fixed;
    top: 2.5rem;
    right: 0;
    z-index: 105;
    background-color: #fff;
    width: 8rem;
    padding: .5rem 0
}

.mulu-list li {
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.8rem
}

.mulu-list li a {
    display: block;
    padding-left: .8rem;
    color: #262626
}

.mulu-list li a .iconfont {
    font-size: .8rem;
    color: #595959;
    margin-right: 1rem
}


.title-ribbon {
    position: relative;
    display: inline-block;
    font-size: .9rem;
    font-weight: 600
}

.title-ribbon:before,.title-ribbon:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -.05rem;
    width: 1rem;
    height: .1rem
}

.title-ribbon:before {
    left: -1.7rem;
    background: -webkit-linear-gradient(left,#ff552e 0,#f7b733 100%);
    background: linear-gradient(to right,#ff552e 0,#f7b733 100%)
}

.title-ribbon:after {
    right: -1.7rem;
    background: -webkit-linear-gradient(right,#ff552e 0,#f7b733 100%);
    background: linear-gradient(to left,#ff552e 0,#f7b733 100%)
}


.tab-box-flex {
    display: -webkit-flex;
    display: flex;
    text-align: center;
    border-bottom: .025rem solid #e6e6e6
}

.tab-box-flex span {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
    cursor: pointer;
    font-size: .75rem;
    color: #666;
    height: 2rem;
    line-height: 2rem
}

.tab-box-flex span.cur {
    font-weight: 600;
    color: #ff552e
}

.tab-box-flex span.cur:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -.025rem;
    left: 50%;
    width: 1.36rem;
    height: .1rem;
    background-color: #ff552e;
    margin-left: -.68rem
}

.catering-list li {
    position: relative;
    padding: 1.2rem .75rem;
    border-bottom: .025rem solid #e6e6e6;
    overflow: hidden
}

.catering-list li:last-child {
    border-bottom: 0
}

.catering-list .btn {
    position: absolute;
    top: 1.2rem;
    right: .75rem;
    z-index: 2;
    padding: 0 .65rem;
    height: 1.3rem;
    line-height: 1.3rem;
    background-color: #ff552e;
    color: #fff;
    font-size: .6rem;
    border-radius: .65rem
}

.catering-list .pic {
    float: left;
    width: 5.45rem;
    height: 5.45rem;
    overflow: hidden;
    margin-right: .75rem
}

.catering-list .pic img {
    display: block;
    width: 100%;
    height: 100%
}

.catering-list .tit {
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: .8rem;
    overflow: hidden
}

.catering-list .fee {
    font-size: .7rem;
    color: #ff552e;
    margin-top: .45rem;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden
}

.catering-list .det {
    margin-top: .5rem;
    font-size: .7rem;
    color: #aaa;
    line-height: 1.1rem;
    height: 2.2rem;
    overflow: hidden
}

.delicacy-cook {
    padding: 0 .375rem
}

.delicacy-cook li {
    float: left;
    width: 50%;
    margin-top: 1.2rem
}

.delicacy-cook .box {
    display: block;
    margin: 0 .375rem
}

.delicacy-cook .pic img {
    display: block;
    width: 100%
}


.restaurant-list {
    padding: 0 .75rem
}

.restaurant-list li {
    position: relative;
    padding: .75rem 0;
    overflow: hidden;
    border-bottom: .025rem solid #e8e8e8
}

.restaurant-list li:last-child {
    border-bottom: 0
}

.restaurant-list .pic {
    position: relative;
    float: right;
    height: 3.65rem;
    width: 5.475rem;
    overflow: hidden;
    margin-left: .75rem
}

.restaurant-list .pic img {
    display: block;
    height: 100%
}

.restaurant-list .pic .audio-ico {
    position: absolute;
    right: .25rem;
    bottom: .25rem;
    z-index: 2;
    padding: 0 .3rem;
    background-color: rgba(0,0,0,.6);
    height: .95rem;
    line-height: .95rem;
    color: #fff;
    font-size: .5rem;
    border-radius: .05rem
}

.restaurant-list .pic .icon-yinp {
    color: #ff552e;
    margin-right: .2rem;
    font-size: .4rem
}

.restaurant-list .tit {
    font-size: .75rem;
    line-height: 1.1rem;
    max-height: 2.2rem;
    overflow: hidden
}

.restaurant-list .ovh {
    height: 1rem
}

.restaurant-list .tag {
    float: left;
    border: .05rem solid #000;
    padding: 0 .275rem;
    font-size: .5rem;
    height: .75rem;
    line-height: .75rem;
    margin-top: .075rem;
    margin-right: .5rem
}

.restaurant-list .time {
    font-size: .5rem;
    color: #b8b8b8;
    margin-right: .5rem
}

.restaurant-list .num {
    font-size: .5rem;
    color: #ff552e
}

.restaurant-list .pic .video-ico {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    height: 3.65rem;
    line-height: 3.65rem;
    text-align: center
}

.restaurant-list .pic .video-ico .icon-bofang-o {
    font-size: 1.2rem;
    color: #fff
}

.website-declaration {
    margin-top: .5rem;
    padding: .75rem;
    background-color: #fff;
    color: #8c8c8c;
    line-height: 1.2rem
}

.website-declaration span {
    color: #333
}
.footer-b {
    padding: 0
}

.footer-con {
    padding: 1.5rem .75rem 3.5rem
}

.s-ccc {
    color: #ccc
}

/******************************************************************************************






 */

/*新增**/
.weizhi{ background:url(../images/m_header.jpg) no-repeat left 10px center #ffffff; height:1.6rem; line-height:1.6rem; font-size: .7rem; margin-top: .2rem}
.weizhi span{ display:block; height:38px; padding:0 10px 0 32px;}
#item7{margin-top: .5rem;    background: #fff;}
#item7 .item7box{    padding: .8rem 0.6rem;}
#item7 .item7box .title{    font-size: 0.8rem;    color: #282828;    line-height: .8rem;    font-weight: bold;}
#item7 .item7box i{    float: left;    width: 0.8rem;    height: 0.8rem;    display: block;    background: url(../images/title-xmzx.png) no-repeat left center;    background-size: 0.8rem;    margin-right: 0.44rem;}
#item7 .item7box .item7content{    margin-top: 1rem;}
#item7 .item7box .item7content .item7list{    width: 100%;    height: 4rem;    border-bottom: 1px solid #e1e5e8;}
#item7 .item7box .item7content .item7list .left{    width: 12.5rem;    margin-top: 0.3rem;}
#item7 .item7box .item7content .item7list .left .lefttitle{    font-size: 0.76rem;    line-height: 0.76rem;    color: #282828;}
#item7 .item7box .item7content .item7list .left .title{    margin-top: 0.6rem;}
#item7 .item7box .item7content .item7list .left .text{    margin-top: 0.42rem;}
#item7 .item7box .item7content .item7list .left .text .message{    float: left;    font-size: 0.5rem;    line-height: 0.5rem;    color: #999;    width: 6rem;    /*overflow: hidden;*/}
#item7 .item7box .item7content .item7list .left .text .time{    float: right;    line-height: 0.4rem;    font-size: 0.4rem;    color: #999;}
#item7 .item7box .item7content .item7list .right{    /*margin-left: 0.66rem;*/    height: 100%;}
#item7 .item7box .item7content .item7list .right1{    margin-top: -0.6rem;}
#item7 .item7box .item7content .item7list .right img{    width: 4.6rem;    height: 2.6rem;    border-radius: 0.2rem;    margin: 0.6rem 0;}
#item8{margin-top: .5rem;    background: #fff;}
#item8 .item8box{   padding: .8rem 0.6rem;}
#item8 .item8box .title{  font-size: 0.8rem;    color: #282828;    line-height: .8rem;    font-weight: bold;}
#item8 .item8box i{     float: left;    width: 0.8rem;    height: 0.8rem;    display: block;   background: url(../images/title-cnxh.png) no-repeat center;     background-size: 0.8rem;    margin-right: 0.44rem;}
#item8 .item8box .item8content{    margin-top: 0.8rem;}
#item8 .item8box .item8content .item8list{    width: 8.5rem;    /*width: 48%;*/    height: 6.6rem;    border-radius: 0.2rem;    background-color: #f7f7f7;    -webkit-box-shadow: #ccc 0px 2px 2px;    -moz-box-shadow: #ccc 0px 2px 2px;    box-shadow: #ccc 0px 2px 2px;    font-size: .6rem;}
#item8 .item8box .item8content .item8list:nth-child(3),#item8 .item8box .item8content .item8list:nth-child(4){    margin-top: 0.6rem;}
#item8 .item8box .item8content .item8list img{    width: 100%;    height: 4.0rem;    border-radius: 0.2rem 0.2rem 0 0;    background-color: #CCCCCC;}
#item8 .item8box .item8content .item8list .item8listcontent{    padding: 0.35rem;   font-size: .42rem;}
#item8 .item8box .item8content .item8list .listtitle{    font-size: 0.66rem;    color: #292929;    line-height: 0.66rem;    white-space: nowrap;    overflow: hidden;}
#item8 .item8box .item8content .item8list .listtext{    font-size: 0.38rem;    line-height: 0.44rem;    color:#999;    margin-top: 0.08rem;    /*width: 3rem;*/    overflow: hidden;    white-space:nowrap;    text-overflow: ellipsis;}
#item8 .item8box .item8content .item8list .textleft{    font-size: 0.54rem;    color: #e50012;    line-height: 0.54rem;    margin-top: 0.38rem;}
#item8 .item8box .item8content .item8list .textright{    font-size: 0.2rem;    line-height: 0.2rem;    margin-top: 0.18rem;    color: #999;}
.item-header{background: #fff;}
.layout {    padding: 0 15px;    position: relative; padding-bottom: 1rem;  box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
    transition: all .15s linear;}
.item-detail { margin-top: 10px;  padding-top: 10px;    box-sizing: border-box;  }
.item-detail ul{    box-sizing: border-box;    padding: 0;    margin: 0; height: 3rem}
.item-detail ul li { margin-bottom: 15px; position: relative; }
.item-detail .img { float: left; margin-right: 10px; width: 21.7391%; position: relative; }
.item-detail .img img { width: 100%; height: auto; }
.item-detail .img img img { border-radius: 1px; }
.item-detail .img .rank-number { position: absolute; left: 0; top: 0; width: 20px; height: 15px; font-size: 12px; color: #fff; line-height: 15px; text-align: center; border-top-left-radius: 1px; border-bottom-right-radius: 1px; z-index: 1; background-color: #fe4302; font-style: normal; }
.item-detail .con { float: left; width: 48.6957%; }
.item-detail .con .title h1 { font-size: 18px; line-height: 29px; color: #333; height: 29px; overflow: hidden; font-weight: bold; }
.item-detail .con .tzje { font-size: 12px; line-height: 20px; color: #333; height: 20px; overflow: hidden; }
.item-detail .con .tzje span { color: #f60; }
.item-detail .con .cp i { font-size: 12px; line-height: 20px; color: #333; font-style: normal; margin-right: 8px; }
.item-detail .con .number { font-size: 12px; line-height: 20px; color: #333; font-weight: bold; }
.item-detail .con .favour { font-size: 12px; color: #f97f04; line-height: 21px; margin-top: 10px; }
.item-detail .con .favour span { display: inline-block; color: #fff; background-color: #f97f04; padding: 0 7px; margin-right: 10px; }
.item-detail .zhishu { position: absolute; top: 10px; right: 0; bottom: 0; width: 21.7391%; }
.item-detail .zhishu a { display: block; height: 26px; line-height: 26px; text-align: center; color: #fff; display: block; background: #f97f04; border-radius: 2px; font-size: 12px; }
.item-detail .zhishu div { font-size: 15px; color: #f97f04; text-align: center; line-height: 16px; }
.item-detail .zhishu em { font-size: 12px; color: #333; text-align: center; line-height: 16px; display: block; font-style: normal; margin-bottom: 5px; }
.item-detail .jm-info { display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; padding-bottom: 5px; padding-top: 16px; width: 100%; }
.item-detail .jm-info i { font-size: 13px; color: #333; font-style: normal; display: block; text-align: center; line-height: 26px; }
.item-detail .jm-info i em { font-size: 21px; font-weight: bold; font-style: normal; }
.item-detail .jm-info span { font-size: 13px; color: #666; display: block; text-align: center; line-height: 20px; }
.kd-btn {    height: 1.5rem;    line-height: 1.5rem;    border: .05rem solid #ff552e;    border-radius: .8rem;    font-size: .6rem;    color: #ff552e;    padding: 0 .7rem;}
.ml10 {    margin-left: .5rem;}
.pin-tag {    display: inline-block;    margin-right: .25rem;    padding: 0 .2rem;    height: .7rem;    line-height: .7rem;    border: .05rem solid #ff552e;    font-size: .5rem;    color: #ff552e;    border-radius: .1rem;}
.pin-time {    display: block;    color: #bbb;    font-size: .6rem;}
.pin-time .icon-shijiantu {    font-size: .6rem;    margin-right: .4rem;}

#item4{    margin-top: 0.4rem;    background-color: #fff;}
#item4 .item4box{    padding: 0 0.6rem;}

#item4 .item4box .item4content .content{    width: 100%;    font-size: 0.75rem;    color: #666;    line-height: 1.5rem;     overflow: hidden;   }
#item4 .item4box .item4content .content .zhuanzai{    font-size: .5rem;    color: #999999;    background: #f2f2f2;    border-radius: 0.1rem;    padding: 0.2rem;    margin-bottom: .2rem; line-height: 1rem}
#item4 .item4box .item4content .content .zhuanzai i{   display: block;    float: left;    width: 0.76rem;    height: 0.75rem;    margin-top: 0.2rem;    margin-left: 0rem;    background: url(../images/gantanhao.png) no-repeat center;    background-size: 0.52rem 0.50rem;    margin-right: 0.2rem;}
#item4 .item4box .item4content .content.on{    height: 6.6rem;}
#item4 .item4box  .item4content img{    width: 100%;    margin: 0.2rem 0;}
#item4 .item4box .item4content .display,.item4content .hidden{    text-align: center;    width: 4.3rem;    margin: 0 auto;    height: 2rem;}
#item4 .item4box .item4content  .display span,.item4content  .hidden span{    float: left;    line-height: 1rem;    color: #F5910D;}
#item4 .item4box .item4content  .display i{     display: block;    float: left;    width: 0.8rem;    height: .7rem;    margin-top: 0.2rem;    margin-left: 0.3rem;    background: url(../images/Arrow-open.png) no-repeat center;    background-size: 0.6rem 0.6rem;}
#item4 .item4box .item4content  .hidden{display: none;}
#item4 .item4box .item4content  .hidden i{    display: block;    float: left;    width: 0.8rem;    height: 0.7rem;    margin-top: 0.2rem;    margin-left: 0.3rem;    background: url('../images/Arrow-close.png') no-repeat center;    background-size:0.6rem 0.6rem;}
.jm_xq_con.on { height: 28.6rem; overflow: hidden;}
.jm_xq_con, .jm_xq_con p,.jm_xq_con div{    word-wrap: break-word;    word-break: break-all; color: #383835;    text-align: justify; line-height: 1.6;     font-family: sans-serif;    margin-top: 15px;     width: 100%;     font-size: .85rem;    margin: 17px 0;}
.jm_xq_con p strong,.jm_xq_con div strong{font-weight: normal;}
.jm_xq_con h1,.jm_xq_con h2,.jm_xq_con h3,.jm_xq_con h4,.jm_xq_con h5{font-weight: bold;  word-wrap: break-word;    word-break: break-all; color: #383835;    text-align: justify; line-height: 1.6;     font-family: sans-serif;    margin-top: 15px;     width: 100%;     font-size: .3rem;    margin: 17px 0;}
.jm_xq_con h1,.jm_xq_con h2,.jm_xq_con h3,.jm_xq_con h4,.jm_xq_con h5{white-space: nowrap;    text-overflow: ellipsis;  overflow: hidden;  line-height: .9rem;position: relative;color: #ff552e !important;   font-weight: bold;    padding: 0 3px 0 0;    padding-left: 10px;    border-bottom: 2px solid #EDEDED;    height: .7rem;    margin-bottom: 10px; }
.jm_xq_con h1:after,.jm_xq_con h2:after,.jm_xq_con h3:after,.jm_xq_con h4:after,.jm_xq_con h5:after{   position: absolute;    left: 0px;    top: .27rem;    width: .06rem;    height: .35rem;    background-color: #ff552e;    content: '';}
.jm_xq_con strong{color: #F5910D; font-weight: bold; font-size: .32rem;}
.title h2{margin-bottom: .3rem; padding-top: .3rem}
.jm_xq_con table {    border-collapse: collapse;    border-spacing: 0;    border-top: 1px solid rgb(230, 230, 230);    width: 100%;}
.jm_xq_con tbody {    display: table-row-group;    vertical-align: middle;    border-color: inherit;}
.jm_xq_con td{    padding-top: 5px;    padding-bottom: 5px;    text-align: center;    color: rgb(85, 85, 85);    border: 1px solid rgb(230, 230, 230);    text-indent: 15px;    height: 20px;    overflow: hidden;    width: 266px;}
.jm_xq_con  th {      font-size: .25rem;  padding-top: 5px;    padding-bottom: 5px;    color: rgb(85, 85, 85);    border: 1px solid rgb(230, 230, 230);    text-indent: 15px;    height: 20px;    overflow: hidden;    width: 130px;    background: rgb(249, 249, 249);}


#item5 .item5box{    box-sizing: border-box;    padding: .6rem 0.6rem;}
#item5 .item5box .lysm{    font-size: 0.4rem;    line-height: 0.64rem;    color: #999999;    padding-top: 0.4rem;}
#item5 .item5box .title{    font-size: 0.75rem;    color: #282828;    line-height: 0.75rem;    font-weight: bold;}
#item5 .item5box i{    float: left;    width: 0.75rem;    height: 0.75rem;    display: block;    background: url(../images/title-zxly.png) no-repeat center;    background-size: 0.75rem;    margin-right: 0.38rem;}
#item5 .item5box input{    width: 100%;    height: 1.6rem;    border-radius: 0.32rem;    border: 1px solid #C0C6CC;    padding-left: 2.2rem;    position: absolute;    top:0;    left:0 ;    box-sizing: border-box;}
#item5 .item5box .inputbox{    margin-top: 0.8rem;    position: relative;    height: 1.6rem;    box-sizing: border-box;}
#item5 .item5box .verification_form input{    padding-left: 2.8rem;}
#item5 .item5box .verification_form .verification_form_submit{    position: absolute;    height: 1.2rem;    line-height: 1.2rem;    border-radius: 0.32rem;    border: 1px solid #C0C6CC;    padding-left: 2.2rem;    top: 0;    right: 0;    padding: 0 0.8rem;    margin-top:0;    left: auto;    box-sizing: border-box;    border-left: 0;    background: #FCEBEC;    color: #DC0011;    font-size: 0.5rem;}
#item5 .item5box .inputbox .tip{    display: none;    color: #F14E41;}
#item5 .item5box .inputbox span{    position: absolute;    top: 50%;    margin-top: -0.52rem;    left: 0.5rem;    font-size: 0.56rem;    color: #666;}
#item5 .item5box input:focus{    border: 1px solid #dc0011;}
#item5 .item5box form{font-size: .56rem;}
#item5 .item5box .submitmessagebtn{    margin-top: 0.8rem;    width: 100%;    height: 1.6rem;    background-color: #DC0011;    border-radius: 0.2rem;    color: #fff;    text-align: center;    line-height: 1.2rem;    font-size: 0.48rem;    border: none;}
#item5 .item5box .submitmessagebtn:active{    background-color: #F2182A;}
#item1,#item2,#item3,#item4,#item5,#item6,#item7,#item8,#item9{    background-color:#fff ;}

.item-detail-add.fixed-top { position: fixed; z-index: 99; width: 100%; padding: 15px; left: 0; top: 0;box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);    transition: all .15s linear; }
.item-detail-add { border-left: none; border-right: none; padding: 15px 0; display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; text-decoration: none; background: #fff; }
.item-detail-add a.img { }
.item-detail-add a.img img { display: block; width: 50px; height: 50px; }
.item-detail-con { width: 50%; margin-right: 5px; }
.item-detail-con .title { font-size: 15px; line-height: 1.5; padding-bottom: 0.35rem; display: block; margin-bottom: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold; text-align: left; }
.item-detail-con .title a { color: #333; }
.item-detail-con .con span { font-size: 14px; color: #666; line-height: 1.2; display: block; float: left; }
.item-detail-con .con { height: auto; margin: 0; }
.item-detail-con .con span.money { font-size: 14px; color: #e60012; font-weight: bold; padding-bottom: 0.184rem; }
.item-detail-add .btn a { border: 2px solid #f97f04; display: block; color: #f97f04; padding: 5px 7px; font-size: 15px; line-height: 1.2; text-align: center; font-weight: bold; border-radius: 6px; }
.item-detail-add.fixed-top + .con { margin-top: 90px; }
.item-article .con img {margin: 5px 0;    width: 100%;    display: block;    height: auto;}
